@charset "UTF-8";

    *{
        font-family: Verdana, Geneva, Tahoma, 
        sans-serif;
        box-sizing: border-box;
    }

    /* ELEMENTOS DA INTERFACE */

    body{
        background-color: #15142b;
        background-image: linear-gradient(180deg, #7B8CDE, #0AC5D4);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    section {
        max-width: 700px;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #D1BCE3;
        font-size: 55px;
        padding: 3px;
        padding-bottom: 0px;
        margin: 0px;
    } 
    
    h2 {
        color: #D1BCE3;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    section{
        width: 100vw;
        color: white;
        padding: 5px;
    }

    /* DESIGN DO FORMULARIO*/

    /* DESIGN GERAL*/

    form {
        background-color: rgba(55, 41, 145, 0.2);
        border-radius: 10px;
        padding: 20px;
    }

    label {
        font-size: 1em;
        margin-left: 20%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

   #id_nome{
    margin-top: 20px;
   }

    input[type=text], [type=email], [type=tel]{
        width: 60%;
        background-color: rgba(255, 255, 255, 0.01);
        font-size: 0.9em;
        color: black;
        padding: 10px 20px;
        margin: 5px 0;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px solid black;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        justify-content: center;
        display: flex;

    }

    input::placeholder{
        color: #D1BCE3;
    }

    label#fieldset{
        font-size: 0.9em;
        margin-left: 0px;

        
    }

    #sexo{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20%;

    }


    input[type=submit] {
        width: 100%;
        background-color: #FF8360;
        font-size: 1em;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

    }

    input[type=submit]:hover {
        background-color: #ff8f70;
        color: black;

    }
    select{
        background-color: rgba(255, 255, 255, 0.01);
        border: 2px solid black;
        border-radius: 7px;
        width: 10%;
        text-align: center;
        outline: none;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #id_estado{
        margin-right: 0px;
    }

    textarea{
        width: 60%;
        border: 2px solid black;
        border-radius: 7px;
        font-size: 0.9em;
        outline: none;
        margin-bottom: 40px;
        margin-left: 20%;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.01);
    }


